<h1>Country Details</h1>

<% flash.each do |name, message| %>
  <%= content_tag :div, message %>
<% end %>

<h4>
  Name: <%= @country.name %>
</h4>

<p>
  Cities in <%= @country.name %>
</p>

<ul>
  <% @country.cities.each do |city| %>
    <li>
      <%= link_to city.name, country_city_path(city.country, city) %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "View all Cities for #{@country.name}", country_cities_path(@country) %>
</p>

<hr>

<%= link_to 'View All Countries', countries_path %>

<br>

<%= link_to 'Edit Country', edit_country_path(@country) %>

<br>

<%= link_to 'Delete Country', @country, method: :delete, data: { confirm: "Are you sure?" } %>